@import '../../breakpoints.scss';
.services{
    width: 100%;
    min-height: 70vh;
    background-color: #082567;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @include sm{
        flex-direction: column;

        }
    @include md{
    
    }
    @include lg{
    
    
    }
    @include xl{
    
    }
    @include breakpoint(1200px){
    
    }

    h2{
        font-size: 82px;
        color: #00ffff;
        font-family: 'Yeon Sung', cursive;
        @include sm{
           text-align: center;
           font-size: 52px;
           margin-bottom: 1rem;
           
    
            }
        @include md{
        
        }
        @include lg{
        
        
        }
        @include xl{
        
        }
        @include breakpoint(1200px){
        
        }
    }
    

    .image-content{
        width: 80vw;
        min-height: 70vh;
        display: grid;
        grid-gap: 2em;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        align-items: center;
    

        .webdev{
            h4{
                font-size: 32px;
                color: #00ffff;
                text-align: center;
                font-family: 'Yeon Sung', cursive;
                @include sm{
                   text-align: center;
                   font-size: 28px;
                   
                   
            
                    }
                @include md{
                
                }
                @include lg{
                
                
                }
                @include xl{
                
                }
                @include breakpoint(1200px){
                
                }
            }
            img{
                width: 100%;
                height: 55vh;
                object-fit: cover;


                @include sm{
                width: 100%;
                height: 55vh;
                   
            
                    }
                @include md{
                
                }
                @include lg{
                
                
                }
                @include xl{
                
                }
                @include breakpoint(1200px){
                
                }
            }
        }
        .Consulting{
            h4{
                font-size: 32px;
                color: #00ffff;
                text-align: center;
                font-family: 'Yeon Sung', cursive;
                @include sm{
                   text-align: center;
                   font-size: 28px;
                   
                   
            
                    }
                @include md{
                
                }
                @include lg{
                
                
                }
                @include xl{
                
                }
                @include breakpoint(1200px){
                
                }
            }
            img{
                width: 100%;
                height: 55vh;
                object-fit: cover;

                @include sm{
                width: 100%;
                height: 55vh;
                   
            
                    }
                @include md{
                
                }
                @include lg{
                
                
                }
                @include xl{
                  
                }
                @include breakpoint(1200px){
                  
                }
            }
        }
        .seo{
            h4{
                font-size: 32px;
                color: #00ffff;
                text-align: center;
                font-family: 'Yeon Sung', cursive;
                @include sm{
                   text-align: center;
                   font-size: 28px;
                   
                   
            
                    }
                @include md{
                
                }
                @include lg{
                
                
                }
                @include xl{
                
                }
                @include breakpoint(1200px){
                
                }
            }
            img{
                width: 100%;
                height: 55vh;
                object-fit: cover;

                @include sm{
                width: 100%;
                height: 55vh;
                   
            
                    }
                @include md{
                
                }
                @include lg{
                
                
                }
                @include xl{
                  
                }
                @include breakpoint(1200px){
                  
                }
            }
        }
    }

}